{% load static %}
<!DOCTYPE html>
<html>
  <head>
  	<title>For Practice Home</title>
  	<style>

        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: #798586;
           color: white;
           text-align: center;
        }
    </style>
  </head>
  <link href="https://fonts.googleapis.com/css?family=Crete+Round:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Timmana" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body style="background-color: #E8E8E8">
	<div class="container " >
		<h2 style = "text-align: center; margin-right: 100px; font-family: 'Crete Round', serif;"><u>Welcome To </u><h1 style = "text-align: center;margin-right: 130px;color: #fff; font-family: 'Crete Round', serif;"><a href = "https://www.facebook.com/g.m.RAVI-ITyadav">RAVI-IT Pvt Ltd.</a></h1></h2>

		<a  href = "/admin"> <h1 class="text-right" style="font-family: 'Crete Round', serif;"><u>Admin Login</u></h1> </a>
    <a class = "button" href = "/register"> <h1 class="text-right" style="font-family: 'Crete Round', serif;"><u>Student Registration</u></h1> </a>
		<a class = "button" href = "/login"> <h1 class="text-right" style="font-family: 'Crete Round', serif;"><u>Student Login</u></h1> </a>

		<div><b>
			<h2 style="font-family: 'Crete Round', serif;">About the RAVI-IT!</h2>
			<p>
				The Canadian International Organ Competition (RAVI-IT) promotes organ music namely by increasing public awareness and interest for this music.
			</p>
			<p>
				The RAVI-IT presents, every year in October, a festival with some of the world's finest organists. Every third year, the RAVI-IT organizes an international competition in which a prestigious jury representing various countries awards important prizes to a selection of the best young organists in the world.
			</p>
			<p>
				Seeking to actively participate in the cultural life, the RAVI-IT annually develops a programme of activities in collaboration with various organisations of the organ world; these musical and educational activities are designed to emphasize the cultural importance of pipe organs – treasures of our heritage – for a wide and diverse audience.
			</p></b>
		</div>
		<div class="footer">
			<footer style="font-family: 'Timmana', sans-serif; padding-left: 10px; margin-top: 20px;">
				<address style="font-family: 'Timmana', sans-serif; padding-left: 30px;"><u>Address:</u><br> 4th Floor, Venkateshwara Heritage, Kudlu Hosa Road, Opp Sai Purna Premium Apartment, Sai Meadows, Kudlu, Bengaluru, Karnataka 560068
				<br>Phone: 078408 50111
				</address>
			</footer>
		</div>
	</div>
</body>
